/* Plik style.css */

body { 
    background-image: url("../resources/forest-6524635_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: 80vw;
    background-color: rgba(220, 220, 220, 0.8);
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    max-width: 500px;
    
} 

#title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    max-width: 100vw;
    padding: 5px;
    border-radius: 10px;
    color: black;
    text-align: right;
    
}

button {
    cursor: pointer;
    color: lightgray;
    text-decoration: solid;
    font-size: 15px;
    background-color: darkolivegreen;
    background-image: linear-gradient(rgb(126, 153, 79), darkolivegreen);
    border: 3px solid darkolivegreen;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

#start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-top: 0;
    font-weight: lighter;
}

p {
    padding: 20px;
    line-height: 1.5;
}

.hidden {
    display: none;
}